<div class="boxcontainer">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main">
    <h2>Sole Proprietors with(out) Individual Number Registration</h2>
    <table class="owners">
      <tr *ngFor="let owner of owners">

        <th class="badge">
          {{owner.id}}
        </th>

        <th>
          <a routerLink="/detail/{{owner.id}}">{{owner.name}}</a>
        </th>

        <th>
          <button class="delete" title="Delete" (click)="delete(owner)">x</button>
        </th>
      </tr>
    </table>
  </div>
</div>