<h2>Sole Proprietors List</h2>
<ul class="owners">
  <li *ngFor="let owner of owners">
    <a routerLink="/detail/{{owner.id}}">
      <span class="badge">{{owner.id}}</span> {{owner.name}}
    </a>
    <button class="delete" title="Delete" (click)="delete(owner)">x</button>
  </li>
</ul>
<div>
  <label>Hero name:
    <input #ownerName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(ownerName.value); ownerName.value=''">
    Add
  </button>
</div>