.menus {
  list-style-type: none;
}
  
.menus li {
  background-color: #eee;
  margin: .5em;
  padding: .3em 1em;
}
  
.menus li:hover {
  background-color: #ccc;
}
  
.menus a {
  text-decoration: none;
}
  